
@{
    ViewBag.Title = "Index";
}

<h2>Index delle label</h2>

<div class="row">
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">INSERISCI</h5>
                <p class="card-text">Inserisci una label nel database</p>
                <a href="@Url.Action("Insert","Label")" class="btn btn-primary">Vai</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">AGGIORNA</h5>
                <p class="card-text">Aggiorna una label dal database</p>
                <a href="@Url.Action("Update","Label")" class="btn btn-primary">Vai</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">CANCELLA</h5>
                <p class="card-text">Cancella una label dal database</p>
                <a href="#" class="btn btn-primary">Vai</a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-center">
            <div class="card-body">
                <h5 class="card-title">RICERCA</h5>
                <p class="card-text">Ricerca una label nel database</p>
                <a href="@Url.Action("Search","Label")" class="btn btn-primary">Vai</a>
            </div>
        </div>
    </div>

</div>

