@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Localization CRUD</h1>
    <p class="lead">Insert your personal CRUD</p>
    <h4>Create, Research, Update, Delete your personal Label and Message</h4>

</div>

